@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/PretendardVariable.woff2') format('woff2');
}

@font-face {
	font-family: 'SUIT';
	font-weight: 100;
	src: url('../fonts/SUIT-Thin.woff2') format('woff2'),
		  url('../fonts/SUIT-Thin.ttf') format('ttf'),
		  url('../fonts/SUIT-Thin.otf') format('otf');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 200;
	src: url('../fonts/SUIT-ExtraLight.woff2') format('woff2'),
		  url('../fonts/SUIT-ExtraLight.ttf') format('ttf'),
		  url('../fonts/SUIT-ExtraLight.otf') format('otf');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 300;
	src: url('../fonts/SUIT-Light.woff2') format('woff2'),
		  url('../fonts/SUIT-Light.ttf') format('ttf'),
		  url('../fonts/SUIT-Light.otf') format('otf');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 400;
	src: url('../fonts/SUIT-Regular.woff2') format('woff2'),
		  url('../fonts/SUIT-Regular.ttf') format('ttf'),
		  url('../fonts/SUIT-Regular.otf') format('otf');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 500;
	src: url('../fonts/SUIT-Medium.woff2') format('woff2'),
		  url('../fonts/SUIT-Medium.ttf') format('ttf'),
		  url('../fonts/SUIT-Medium.otf') format('otf');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 600;
	src: url('../fonts/SUIT-SemiBold.woff2') format('woff2'),
		  url('../fonts/SUIT-SemiBold.ttf') format('ttf'),
		  url('../fonts/SUIT-SemiBold.otf') format('otf');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 700;
	src: url('../fonts/SUIT-Bold.woff2') format('woff2'),
	     url('../fonts/SUIT-Bold.ttf') format('ttf'),
		  url('../fonts/SUIT-Bold.otf') format('otf');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 800;
	src: url('../fonts/SUIT-ExtraBold.woff2') format('woff2'),
		  url('../fonts/SUIT-ExtraBold.ttf') format('ttf'),
		  url('../fonts/SUIT-ExtraBold.otf') format('otf');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 900;
	src: url('../fonts/SUIT-Heavy.woff2') format('woff2'),
		  url('../fonts/SUIT-Heavy.ttf') format('ttf'),
		  url('../fonts/SUIT-Heavy.otf') format('otf');
}